{{define "content"}}
<div class="your-time-content">
  {{if .Remaining}}
  <p>余命は残り<span class="remaining-data"><span id="year">{{.Remaining}}</span>年</span>だワン</p>
  <p>日数で表すと残り<span class="time-data"><span id="day">{{.Days}}</span>日 <span id="hour">{{.Hours}}</span>時間 <span id="min">{{.Mins}}</span>分 <span id="sec">{{.Sec}}</span>秒 </span>だワン</p>
  <br>
  <div class="hidden" id="ratio">{{.RemainingRatio}}</div>
  <div class="box">
    <h2>生きた時間と残りの時間の比率</h2>
    <div class="chart-area">
    <canvas id="chart01"></canvas>
    </div>
  </div>
  {{else}}
  
  {{end}}
</div>
{{end}}